<p>Useful IDs (To use them, simply edit default_css by deleting 'display:none;' of the selectors)</p>
<pre>
#navigator-title: display all portfolios title as links
#navigator-thumbnails: display all portfolios thumbnail as links
#navigate-previous: a link to navigate to previous portfolio
#navigate-next: a link to navigate to next portfolio
#portfolio-title: 
#portfolio-content: 
</pre>