<%= div_for code do %>
	<li><%= code.name %> | 
        <%= link_to 'edit', edit_website_code_path(@website, code), remote: true %> |
        <%= link_to 'delete', [@website, code], method: :delete, remote: true %>
    </li>
<% end %>